Source: butt
Section: sound
Priority: extra
Maintainer: Daniel Nöthen <butt@danielnoethen.de>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, portaudio19-dev, libvorbis-dev, libfltk1.3-dev, libmp3lame-dev
Standards-Version: 3.9.5
Homepage: http://butt.sourceforge.net/
#Vcs-Git: git://git.debian.org/collab-maint/butt.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/butt.git;a=summary

Package: butt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Easy to use, multi OS streaming tool
 butt (broadcast using this tool) is an easy to use, multi OS streaming tool.
 It supports Shoutcast and Icecast and runs on Linux, MacOS and Windows.
 The main purpose of butt is to stream live audio data from your computers Mic
 or Line input to an Shoutcast or Icecast server. Recording is also possible.
 Main features:
  * Stream to Shoutcast or Icecast server
  * Record your session as mp3, ogg or wav file
  * Automatic reconnection 
  * Auto connect at startup
  * Update current song from file
